<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle icon-only>
    <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Step 3 : Basic Info</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item >
    <ion-label floating>Gothra(m)</ion-label>
    <ion-input type="text" ></ion-input> 
    </ion-item>
  </ion-list>

  <ion-list >
    <ion-item >
    <ion-label floating>Star(Nakshatra)</ion-label>
    <ion-select interface="action-sheet">
    <ion-option *ngFor="let masters of masterS" value={{masters.starId}} >{{masters.starName}}</ion-option>
    </ion-select>
    </ion-item>
  </ion-list>

  <ion-list >
    <ion-item >
    <ion-label floating>Moonsign</ion-label>
    <ion-select interface="action-sheet">
    <ion-option *ngFor="let masters of masterM" value={{masters.moonsignId}} >{{masters.moonsignName}}</ion-option>
    </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>Horoscope Match</ion-label>
      <ion-select>
        <ion-option value="f">No</ion-option>
        <ion-option value="m">Yes</ion-option>
        <ion-option value="o">Does not matter</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>
      <ion-item>
        <ion-label>Manglik</ion-label>
        <ion-select>
          <ion-option value="f">No</ion-option>
          <ion-option value="m">Yes</ion-option>
          <ion-option value="o">Does not matter</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>Time of Birth</ion-label>
      <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="timeStarts"></ion-datetime>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item >
    <ion-label floating>Place of Birth</ion-label>
    <ion-input type="text" ></ion-input> 
    </ion-item>
  </ion-list>

  <ion-item >
    <button ion-button color="danger" full padding class="search">Continue</button>
  </ion-item >
</ion-content>
