<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Membership</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-card-header >
        <h2>SILVER</h2>
        <h1 class="price-plan">
        <span>Rs</span>
        100
        <span>/ Month</span>
        </h1>
            <!-- <button ion-button color="danger" >PAY NOW</button><br> -->
            <button ion-button clear color="danger" (click)="toggleAccordion('cc1')">View More</button>
    </ion-card-header>
    <ion-card-content #cc1>
        <ion-list>
            <ion-item>
                <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon> Email Support
            </ion-item>
            <ion-item>
                <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon> 10 (Match Profiles)
            </ion-item>
            <ion-item>
                <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon>  Basic Search
            </ion-item>
            <ion-item>
                <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon>  Advance Search
            </ion-item>
            <ion-item>
                <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon>  Aadhar Card Verification
            </ion-item>
            <ion-item>
                <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon>  Photo Verification
            </ion-item>
        </ion-list>
        <button ion-button color="danger" >PAY NOW</button><br>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header >
        <h2>SILVER</h2>
        <h1 class="price-plan">
            <span>Rs</span>
            100
            <span>/ Month</span>
        </h1>
        <button ion-button clear color="danger" (click)="toggleAccordion('cc1')">View More</button>
    </ion-card-header>
    <ion-card-content #cc1>
        <ion-list>
            <ion-item>
                <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon> Email Support
            </ion-item>
            <ion-item>
                <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon> 10 (Match Profiles)
            </ion-item>
            <ion-item>
                <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon>  Basic Search
            </ion-item>
            <ion-item>
                <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon>  Advance Search
            </ion-item>
            <ion-item>
                <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon>  Aadhar Card Verification
            </ion-item>
            <ion-item>
                <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon>  Photo Verification
            </ion-item>
        </ion-list>
        <button ion-button color="danger" >PAY NOW</button><br>
    </ion-card-content>
  </ion-card>

</ion-content>
