page-about {
    p{
        text-align: justify;
    }
    ion-content{
        padding-left: 0px !important;
    }
    .about h2{
        text-align: center;
        font-weight: bold;
    }
    .privacy h2{
        text-align: center;
        font-weight: bold;
    }
}
