<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>About</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="info" color="danger">
    <ion-segment-button value="About">
      About
    </ion-segment-button>
    <ion-segment-button value="Privacy">
      Privacy
    </ion-segment-button>
  </ion-segment>

  <ion-card>
    <ion-card-header>
      
    </ion-card-header>
    <ion-card-content>
      <div [ngSwitch]="info">
        <div class="about" *ngSwitchCase="'About'">
          <h2>About</h2><br>
          <p>The word ‘Shaadi Proposal’ says it all. It’s a reflection of feeling a couple goes through when they get hitched. Marrily Matrimonial Services (PC) Private Limited envisages to bring together several thousands to millions couple in the coming years through their unique and most anticipated brand ‘Shaadi Proposal’. With a clear vison of making the two hearts beat together, Shaadi Proposal strives to help one find his/her desired partner for lifetime. We have a team of enthused professionals incorporating a blend of youth and experience that drives us through the sole passion of bonding the souls for their entire life.</p>
          <br>
          <p>Besides the passion for which we have forayed into the matrimonial business, we see this as an opportunity to create the path of togetherness for someone who needs it the most. ‘Pairs are made in Heaven’ – irrespective of the legitimacy and the belief that people have in this phrase, we act only as a mediator trying to bring the two probable soulmates together. With the passion that drives our workforce, Shaadi Proposal aims to become the fastest growing matrimonial portal in India helping the society and families to get the best matched ones for their loved ones.</p>
          
          <p>Our team of dedicated and proficient professionals are quite tech savvy as they have helped Shaadi Proposal build a robust matrimonial portal with innovative technologies, and enhanced user friendly navigation. We use state of the art and ultra-modern technology to facilitate effective as well as agile search. Additionally, we have ensured that the searches on our portal results in concrete and best suited profiles only. So, if you are in search of a soulmate for yourself or someone else in the family then you are on the right page as we have the best means to serve your purpose.</p>
          <br>
          <p>Shaadi Proposal is a brand for the people – to connect them with each other for the rest of their lives. And with this endeavour in mind along with the superior manpower and effective technology combining with in-depth research, we aim to make a big difference to the society by helping them get the best soulmate.</p>
        </div>
    
        <div class="privacy" *ngSwitchCase="'Privacy'">
          <h2>Privacy</h2><br>
          <p>Happy Marrilly.com is an online matrimonial website constantly striving to provide you with state of the art matrimonial services.</p> 
          <p>The privacy statement is all but the same for customers of Happy Marrily.com.</p>
          <p>We believe that an individual’s privacy is of prime significance and having being firm believer in an individual’s right to privacy and thus have drawn out a privacy statement as per the information collected from you.</p>
          <br>
          <p>You need to provide some personal information in order to register on the website.</p> <br>
          <p>This information includes (but not limited to) data that particularly identifies an individual, such as a user name, name, address, contact number, e-mail address, religion, caste, gender, photos, employment details, income details, family background, health data etc. You can refer to our FAQ section to categorize the information that will be available to every user of the website and that which will be available only to those registered with our website.</p>
          <br>
          <p>By using the services we offer you acknowledge that: (a) we are not in a position to guarantee the security privacy of information you provide through the medium of Internet and your email messages, and you release us from any and all liability in connection with the use of such information by other parties (b) we are not liable for, and cannot control, the use by others of any information which you provide to them and you should be careful in selecting the personal information you provide to others through the Service; and (c) we cannot take any liability for the content of messages sent by other users of the service, and you release us from any and all liability in connection with the contents of any communications you might receive from other users. We cannot guarantee and take no liability for verifying, the accuracy of the information provided by other users of the Service regarding particulars of status, age, income of other members. Your membership is only for personal use. It’s not to be assigned, transferred or licensed so as to be used by any other person.</p>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
