<div class="overlay" [style.display]="splash?'flex':'none'">
  <div class="spash"> 
    <img src="../../assets/imgs/logow.png">
    <p style="color:#FFF;">India No.1 Materomonial Website.</p>
  </div>
</div>

<ion-content padding>
  <div class="form">
    <div class="logo">
      <img src="../../assets/imgs/logor.png" width="80%">
    </div>  
    <ion-item >
      <ion-label floating>Email Id/Mobile</ion-label>
      <ion-input type="text" [(ngModel)]="LoginuserData.loginWith" value="8692972118"></ion-input>
    </ion-item>
    
    <ion-item >
      <ion-label floating>Password</ion-label>
      <ion-input type="password" [(ngModel)]="LoginuserData.password" value="ritesh24"></ion-input>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col>
            <button ion-button color="danger" (click)="login()">Sign In</button>
        </ion-col>
        <ion-col>
            <button ion-button color="danger" (click)="signup()">Sign up</button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <button ion-button clear (click)="forpassword()" class="fp">Forgot Password</button>
    <button ion-button color="danger" (click)="search()">Search</button>
  </div>  
</ion-content>
