page-login {
    
    .overlay{
        background-color:#900b0c;
        position: fixed;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        z-index: 1;
        padding-left: 60px;
   
    }
    .overlay .spash {
        width:80%;
        margin-top: 90%;
    }

    ion-content{
        padding-top: 50%;
        z-index: 0;
        // background-image: url('../../assets/imgs/Image06_iPhone-55s.jpg');
        // background-size: cover;
        // background-repeat: no-repeat;
        // background-attachment: fixed;
        position: absolute;
       
    }

    ion-item{
        background-color: transparent !important;
    }

    .form{
        //margin-top: 30%;
        position: relative;
        top: 20%;
        
    }

    .form button{
        margin-left: 5%;
        width:90%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .logo{
       padding-left: 20%;
    }
    .form p{
        font-size: 20px;
        font-weight: bold;
    }
    
}
