<ion-header>
  <ion-navbar color="danger">
      <button ion-button menuToggle icon-only>
        <ion-icon name='menu'></ion-icon>
      </button>
      <ion-title>Advancesearch</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-item style="display:none">
    <ion-label floating>userId</ion-label>
    <ion-input type="text" [(ngModel)]="Pincodesearch.userId" value={{userid}}></ion-input>  
  </ion-item>
</ion-content>
