<ion-header>
    <ion-navbar color="danger">
        <button ion-button menuToggle icon-only>
          <ion-icon name='menu'></ion-icon>
        </button>
        <ion-title>Profilesearch</ion-title>
      </ion-navbar>
  </ion-header>
  
  
  <ion-content>
    <h4 class="guest" style="text-transform:capitalize;">Hi, {{firstName}} {{lastName}} </h4>
    <h4 class="guest" style="text-transform:capitalize;">This is your userid :- {{userid}}</h4>
    <h4 class="guest" style="text-transform:capitalize;">Please enter your userId below for search..,</h4>
    
  
    <ion-item >
      <ion-label floating>userId</ion-label>
      <ion-input type="text" [(ngModel)]="Profilesearch.userId"></ion-input>
      
    </ion-item>
  
    <ion-item >
      <ion-label floating>ShaadiProposal Id</ion-label>
      <ion-input type="text" [(ngModel)]="Profilesearch.SPID"></ion-input>
      
    </ion-item>
  
    <ion-item>
      <button ion-button color="danger" full (click)="profilesearch()">Search</button>
    </ion-item>
  </ion-content>
  