<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle icon-only>
    <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Step 1 : Basic Info</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  
  <div class="form">
    <ion-list>
    
      <ion-list>
      <ion-item>
      <ion-label floating>Select State</ion-label>
      <ion-select interface="action-sheet" [(ngModel)]="step1.state" (ionChange)="selectChangeHandler($event)" >
      <ion-option *ngFor="let masters of masterState" value={{masters.stateId}} >{{masters.stateName}}</ion-option>
      </ion-select>

      </ion-item>
      </ion-list>

      <ion-list>
      <ion-item>
      <ion-label floating>Select City</ion-label>
      <ion-select interface="action-sheet" [(ngModel)]="step1.city">
      <ion-option *ngFor="let masters of masterCity" value={{masters.cityId}} >{{masters.cityName}}</ion-option>
      </ion-select>
      </ion-item>
      </ion-list>

      <ion-list>
      <ion-item>
      <ion-label floating>Pincode</ion-label>
      <ion-input type="number" [(ngModel)]="step1.pincode"></ion-input> 
      </ion-item>
      </ion-list>

      <ion-list>
      <ion-item>
      <ion-label floating>Residence in </ion-label>
      <ion-select interface="action-sheet" [(ngModel)]="step1.residence">
      <ion-option *ngFor="let masters of masterCitizen" value={{masters}} >{{masters}}</ion-option>
      </ion-select>
      </ion-item>
      </ion-list>
    </ion-list>
  
  
    <ion-list>
      <ion-item>
      <ion-label floating>Religion</ion-label>
      <ion-select interface="action-sheet" [(ngModel)]="step1.Religion" (ionChange)="selectChangeHandler2($event)">
      <ion-option *ngFor="let masters of masterR" value={{masters.religionId}} >{{masters.religionName}}</ion-option>
      </ion-select>
      </ion-item>
    </ion-list>
  
    <ion-list>
      <ion-item>
      <ion-label floating>Cast</ion-label>
      <ion-select interface="action-sheet" [(ngModel)]="step1.Caste">
      <ion-option *ngFor="let masters of masterCaste" value={{masters.casteId}} >{{masters.casteName}}</ion-option>
      </ion-select>
      </ion-item>
    </ion-list>
  
  
    <ion-list >
      <ion-item >
      <ion-label floating>Marrital Status</ion-label>
      <ion-select interface="action-sheet" [(ngModel)]="step1.marritalStatus">
      <ion-option *ngFor="let masters of masterMstatus" value={{masters}} >{{masters}}</ion-option>
      </ion-select>
      </ion-item>
    </ion-list>

    <ion-list>
        <ion-item>
          <ion-label>Any Disability</ion-label>
          <ion-select [(ngModel)]="step1.physicalStatus">
            <ion-option value="f">No</ion-option>
            <ion-option value="m">Yes</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
    
    
    <ion-item >
      <button ion-button color="danger" full padding class="search" (click)="Step1()">Continue</button>
    </ion-item >
  
  </div>
</ion-content>
