accordian {
    .card-content{
        padding: 0px 16px 5px;
        max-height: 0px;
    }
    .card-header h2{
        text-align: center;
        font-size: 35px;
    }
    .card-header button{
        margin-left: 32%;
        font-size: 18px;
    }
    .card-header .listview{
        margin-left: 0%;
    }
    .card-content button{
        width: 90%;
        margin-left: 20px;
    }
}
