<ion-header>
    <ion-navbar color="danger">
        <button ion-button menuToggle icon-only>
          <ion-icon name='menu'></ion-icon>
        </button>
        <ion-title>Pincodesearch</ion-title>
      </ion-navbar>
  </ion-header>
  
  
  <ion-content>
    <!-- <h4 *ngFor="let users of user">{{users.firstName}}</h4>
    <h4 class="guest" style="text-transform:capitalize;">Hi, {{firstName}} {{lastName}} </h4>
    <h4 class="guest" style="text-transform:capitalize;">This is your userid :- {{userid}}</h4>
    <h4 class="guest" style="text-transform:capitalize;">Please enter your userId below for search..,</h4> -->
    
  
    <ion-item style="display:none">
      <ion-label floating>userId</ion-label>
      <ion-input type="text" [(ngModel)]="Pincodesearch.userId" value={{userid}}></ion-input>  
    </ion-item>
  
    <ion-item >
      <ion-label floating>Pincode</ion-label>
      <ion-input type="text" [(ngModel)]="Pincodesearch.pincode"></ion-input>
      
    </ion-item>
  
    <ion-item>
      <button ion-button color="danger" full (click)="pincodesearch()">Search</button>
    </ion-item>
  </ion-content>
  