<ion-header>

    <ion-navbar color="danger">
        <button ion-button menuToggle icon-only>
          <ion-icon name='menu'></ion-icon>
        </button>
        <ion-title><h4>Profile</h4></ion-title>
      </ion-navbar>

</ion-header>


<ion-content>

    <ion-card>
          <img src="http://img.shaadiproposal.com/UserProfiles/{{profile}}" 
          onError="this.src='../../assets/imgs/deafult.png';"  alt="..." style="border-radius:200%">
        <ion-card-content>
          <h2>Basic Info</h2>
            <p>Name : {{firstName}} {{lastName}}</p>
            <p>Date of Birth : {{dob}}</p>
            <p>Email Id : {{email}}</p>
            <p>Mobile : {{mobile}}</p>
        </ion-card-content>
      </ion-card>

  <ion-card padding>
    <p>Hobby : {{hobby}}</p>
    <p>Interest : {{interest}}</p>
  </ion-card>
</ion-content>
