<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle icon-only>
    <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Step 4 : Basic Info</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list >
    <ion-item >
    <ion-label floating>Select City</ion-label>
    <ion-select interface="action-sheet">
    <ion-option *ngFor="let masters of masterHeight" value={{masters.heightId}} >{{masters.height}}</ion-option>
    </ion-select>
    </ion-item>
  </ion-list>

  <ion-list >
    <ion-item >
    <ion-label floating>Select BloodGroup</ion-label>
    <ion-select interface="action-sheet">
    <ion-option *ngFor="let masters of masterBlood" value={{masters.bloodGroupId}} >{{masters.bloodGroup}}</ion-option>
    </ion-select>
    </ion-item>
  </ion-list>

  <ion-list >
    <ion-item >
    <ion-label floating>Complexion</ion-label>
    <ion-select interface="action-sheet">
    <ion-option *ngFor="let masters of masterComplexion" value={{masters}} >{{masters}}</ion-option>
    </ion-select>
    </ion-item>
  </ion-list>

  <ion-list >
    <ion-item >
    <ion-label floating>Diet</ion-label>
    <ion-select interface="action-sheet">
    <ion-option *ngFor="let masters of masterDiet" value={{masters}} >{{masters}}</ion-option>
    </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>
      <ion-item>
          <ion-label>Body-Type</ion-label>
          <ion-select>
            <ion-option value="f">Slim</ion-option>
            <ion-option value="m">Average</ion-option>
            <ion-option value="o">Athletic</ion-option>
            <ion-option value="h">Heavy</ion-option>
          </ion-select>
        </ion-item>
  </ion-list>

  <ion-list>
      <ion-item>
          <ion-label>Smoke</ion-label>
          <ion-select>
            <ion-option value="f">No</ion-option>
            <ion-option value="m">Yes</ion-option>
            <ion-option value="o">Occasionally</ion-option>
          </ion-select>
        </ion-item>
  </ion-list>

  <ion-list>
      <ion-item>
          <ion-label>Drink</ion-label>
          <ion-select>
            <ion-option value="f">No</ion-option>
            <ion-option value="m">Yes</ion-option>
            <ion-option value="o">Occasionally</ion-option>
          </ion-select>
        </ion-item>
  </ion-list>

  <ion-item>
    <button ion-button color="danger" full padding class="search">Continue</button>
  </ion-item>
</ion-content>
