<ion-header>
    <ion-navbar color="danger">
        <button ion-button menuToggle icon-only>
          <ion-icon name='menu'></ion-icon>
        </button>
        <ion-title>Locationsearch</ion-title>
      </ion-navbar>
  </ion-header>
  
  
  <ion-content padding>
    <ion-item style="display:none">
      <ion-label floating>userId</ion-label>
      <ion-input type="text" value={{userid}}></ion-input>  
    </ion-item>

    <ion-list>
      <ion-item>
        <ion-label floating>State</ion-label>

        <ion-select  [(ngModel)]="locationsearch.state" interface="action-sheet">
            <ion-option *ngFor="let masters of masterState" value={{masters.stateName}}>{{masters.stateName}}</ion-option>
        </ion-select>

      </ion-item>
    </ion-list>
  </ion-content>
  