<!--
  Generated template for the SettingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="danger">
        <button ion-button menuToggle icon-only>
            <ion-icon name='menu'></ion-icon>
          </button>
          <ion-title>Settings</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <div class="form">
        <ion-item style="display:none">
            <ion-label floating>Current Password</ion-label>
            <ion-input type="password" [(ngModel)]="changepassword.userId" value={{userid}}></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Current Password</ion-label>
            <ion-input type="password" [(ngModel)]="changepassword.oldPassword"></ion-input>
        </ion-item>
                
        <ion-item>
            <ion-label floating>New Password</ion-label>
            <ion-input type="password" [(ngModel)]="changepassword.newPassword"></ion-input>
        </ion-item>
        
        <ion-item>
            <ion-label floating>Repet New Password</ion-label>
            <ion-input type="password" [(ngModel)]="repnewpassword"></ion-input>
        </ion-item>
            <button ion-button color="danger" (click)="passwordchange()">Change password</button>
    </div>
</ion-content>
