page-settings {
    .form button{
        margin-left: 7%;
        width:90%;
        margin-top:20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    ion-content{
        padding-left: 0px !important;
    }
    ion-content .form{
        width: 95%;
    }
}
