<!--
  Generated template for the UserprofilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="danger">
    <ion-title>User Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- <ion-card> -->

    <!-- <ion-item>
      <ion-avatar item-start>
        <img src="../../assets/imgs/deafult.png">
      </ion-avatar>
    </ion-item> -->
  
    <img src="../../assets/imgs/deafult.png" width="100%">
  
    <ion-card-content>
      <h2>Marty McFly</h2>
      <br>
      <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
    </ion-card-content>
  <ion-item>
    <ion-row>
      <ion-col col-6>
        <button ion-button color="danger" clear small icon-start>
          <ion-icon name='heart'></ion-icon>
          Intrested
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button color="danger" clear small icon-start>
          <ion-icon name='thumbs-up'></ion-icon>
          Shortlist
        </button>
      </ion-col>
    </ion-row>
  </ion-item>
  <!-- </ion-card> -->
</ion-content>
