<!--
  Generated template for the ForgotpasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="danger">
    <ion-title>ForgotPassword</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="form">
    <div class="logo">
      <img src="../../assets/imgs/logor.png" width="80%">
    </div>
    <ion-list>
      <p>Please Enter Your Email Id..</p>
      <ion-item >
          <ion-label floating>Email Id</ion-label>
          <ion-input type="email" [(ngModel)]="forgot.forgotWith"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button color="danger" (click)="forgotpassword()">Submit</button>   
  </div>
</ion-content>
