page-forgotpassword {

    ion-item{
        background-color: transparent !important;
    }

    ion-content{
        padding-top: 50%;
        z-index: 0;
        // background-image: url('../../assets/imgs/Image06_iPhone-55s.jpg');
        // background-size: cover;
        // background-repeat: no-repeat;
        // background-attachment: fixed;
        position: absolute;
       
    }

    .form{
        margin-top: 50%;
        
    }

    .form button{
        margin-left: 5%;
        width:90%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .logo{
       padding-left: 20%;
    }
    
}
