<!--
  Generated template for the Step2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle icon-only>
    <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Step 2 : Basic Info</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="form">
    <ion-list>
    
      <ion-list>
        <ion-item>
        <ion-label floating>Education</ion-label>
        <ion-select interface="action-sheet">
        <ion-option *ngFor="let masters of masterEducation" value={{masters}} >{{masters}}</ion-option>
        </ion-select>
        </ion-item>
      </ion-list>

      <ion-list >
      <ion-item >
      <ion-label floating>Field</ion-label>
      <ion-select interface="action-sheet">
      <ion-option *ngFor="let masters of masterD" value={{masters.degreeId}} >{{masters.degreeName}}</ion-option>
      </ion-select>
      </ion-item>
      </ion-list>


      <ion-item >
      <ion-label floating>Occupation</ion-label>
      <ion-select interface="action-sheet">
      <ion-option *ngFor="let masters of masterO" value={{masters.ocpId}} >{{masters.ocpName}}</ion-option>
      </ion-select> 
      </ion-item>

      <ion-list >
      <ion-item >
      <ion-label floating>Employed In</ion-label>
      <ion-select interface="action-sheet">
      <ion-option *ngFor="let masters of masterEmployee" value={{masters}} >{{masters}}</ion-option>
      </ion-select>
      </ion-item>
      </ion-list>
    </ion-list>
  
  
    <ion-list >
      <ion-item >
      <ion-label floating>Annual Income</ion-label>
      <ion-select interface="action-sheet">
      <ion-option *ngFor="let masters of masterS" value={{masters.salaryId}} >{{masters.annualSalary}}</ion-option>
      </ion-select>
      </ion-item>
    </ion-list>
     
    <ion-item >
      <button ion-button color="danger" full padding class="search">Continue</button>
    </ion-item >
  
  </div>
</ion-content>
