page-search {
     button.search{
        margin-left: 5%;
        width:90%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    ion-content{
        padding-left: 0px !important;
    }
    .form{
        padding-top: 30px !important;
    }
}
