<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="danger">
        <button ion-button menuToggle icon-only>
            <ion-icon name='menu'></ion-icon>
          </button>
          <ion-title>Search</ion-title>
    </ion-navbar>
</ion-header>


<ion-content>

    <div class="bsearch" padding>
        <ion-segment [(ngModel)]="userSearch.gender" color="danger">
          <ion-segment-button value="female" >
            BRIDE
          </ion-segment-button>
          <ion-segment-button value="male">
            GROOM
          </ion-segment-button>
        </ion-segment>
    </div>
  <div class="form">
    <ion-list>
      <ion-list>
        <ion-item>
          <ion-label floating>Mother Tongue</ion-label>

          <ion-select  [(ngModel)]="userSearch.mTongue" interface="action-sheet">
              <ion-option *ngFor="let masters of masterM" value={{masters.mtongueId}}>{{masters.mtongueName}}</ion-option>
          </ion-select>

        </ion-item>
      </ion-list>

      <ion-list >
          <ion-item >
            <ion-label floating>Religion</ion-label>
            <ion-select  [(ngModel)]="userSearch.religion" interface="action-sheet">
                <ion-option *ngFor="let masters of masterR" value={{masters.religionId}} >{{masters.religionName}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
    </ion-list>

    <ion-list>
          <ion-grid>
              <ion-row>
                <ion-col col-6>
                    <ion-item>
                      <ion-label floating>Min.Age</ion-label>
                      <ion-select [(ngModel)]="userSearch.fromAge" interface="popover">
                        <ion-option value="21">21 years</ion-option>
                        <ion-option value="22">22 years</ion-option>
                        <ion-option value="23">23 years</ion-option>
                        <ion-option value="24">24 years</ion-option>
                        <ion-option value="25">25 years</ion-option>
                        <ion-option value="26">26 years</ion-option>
                        <ion-option value="27">27 years</ion-option>
                        <ion-option value="28">28 years</ion-option>
                      </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col col-6>
                    <ion-item>
                        <ion-label floating>Max.Age</ion-label>
                        <ion-select [(ngModel)]="userSearch.toAge" interface="popover">
                          <ion-option value="31">31 years</ion-option>
                          <ion-option value="32">32 years</ion-option>
                          <ion-option value="33">33 years</ion-option>
                          <ion-option value="34">34 years</ion-option>
                          <ion-option value="35">35 years</ion-option>
                          <ion-option value="36">36 years</ion-option>
                          <ion-option value="37">37 years</ion-option>
                          <ion-option value="38">38 years</ion-option>
                        </ion-select>
                      </ion-item>
                </ion-col>
              </ion-row>
              </ion-grid>
    </ion-list>

    <button ion-button color="danger" (click)="search()" class="search">Search</button>
  </div>

  <ion-card>
    {{users}}
  </ion-card>
  
</ion-content>
