page-signup {
   ion-navbar{
       background-color: red;
   }
   .form button{
    margin-left: 5%;
    width:90%;
    padding-top: 10px;
    padding-bottom: 10px;
}
ion-header{
    background-color: transparent !important;
}
ion-item{
    background-color: transparent !important;
}

ion-content{
    padding-top: 50%;
    z-index: 0;
    // background-image: url('../../assets/imgs/Image06_iPhone-55s.jpg');
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-attachment: fixed;
    position: absolute;
   
}
}
