<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="bar-danger">

  <ion-navbar color="danger">
    <ion-title>SignUp</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="form">
   
      <ion-item >
        <ion-label floating>First Name</ion-label>
        <ion-input type="text" [(ngModel)]="userData.firstName" ></ion-input>
      </ion-item>

      <ion-item >
        <ion-label floating>Last Name</ion-label>
        <ion-input type="text" [(ngModel)]="userData.lastName" ></ion-input>
      </ion-item>

      <ion-item >
        <ion-label floating>Email Id</ion-label>
        <ion-input type="email" [(ngModel)]="userData.email" ></ion-input>
      </ion-item>
    
      <ion-item >
        <ion-label floating>Password</ion-label>
        <ion-input type="password" [(ngModel)]="userData.password" ></ion-input>
      </ion-item>

      <ion-item >
        <ion-label floating>Repeat Password</ion-label>
        <ion-input type="password" [(ngModel)]="repPassword"></ion-input>
      </ion-item>

      <ion-item >
        <ion-label floating>Mobile</ion-label>
        <ion-input type="number" [(ngModel)]="userData.mobile"></ion-input>
      </ion-item>
    

    <ion-list>
      <ion-item>
        <ion-label>BirthDate</ion-label>
        <ion-datetime displayFormat="MMM DD YYYY"  min="1960" max="2000-10-31" [(ngModel)]="userData.birthDate" ></ion-datetime>
      </ion-item>
    </ion-list>

    

    <ion-list>
      <ion-item>
        <ion-label>Profile Created For</ion-label>
        <ion-select  [(ngModel)]="userData.createdFor" interface="popover">
          <ion-option value="select">Select</ion-option>
          <ion-option value="Self" selected="true" >Self</ion-option>
          <ion-option value="Son">Son</ion-option>
          <ion-option value="Daughter">Daughter</ion-option>
          <ion-option value="Brother">Brother</ion-option>
          <ion-option value="Sister">Sister</ion-option>
          <ion-option value="Friend">Friend</ion-option>
          <ion-option value="Relative">Relative</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-list radio-group >
      <ion-item>
        <ion-label>Male</ion-label>
        <ion-radio  value="male"  checked="true" name="gender" (ionSelect)="radioChecked('male')"  ></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Female</ion-label>
        <ion-radio value="female" name="gender"   (ionSelect)="radioChecked('female')" ></ion-radio>
      </ion-item>
    </ion-list>
    <button ion-button color="danger" (click)="register()">Register</button>
    <!-- <button ion-button color="danger" (click)="register()">Register</button> -->
  </div>
</ion-content>
