page-menu {
    .guest{
        text-transform: capitalize;
        margin: 13px auto;
        text-align: center;
        
    }
    .guest button{
        font-size: 20px !important;
    }
    ion-list{
        border-bottom: none !important;
    }
    ion-grid .login{
        width: 100%;
    }
    ion-grid .signup{
        width: 100%;
    }
    ion-content .call{
        width: 100%;
    }
    // .btns{
    //     margin-top: 80%;
    // }
    .no{
        padding-left: 30%;
        text-align: center;
        font-size: 16px;
    }
    .avtar{
       margin-top: 5%;
        margin-left: 40%;
    }
    .avimg{
        width: 50px;
        height: 50px;
        border-radius: 50px;
    }
    ion-toolbar{
        color: #fff;
    }
    
}
