<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-avatar item-start class="avtar">
        <img class="avimg" src="../../assets/imgs/deafult.png">
      </ion-avatar>
      <h4 class="guest" style="text-transform:capitalize;">Hi, {{firstName}} {{lastName}}</h4>
    </ion-toolbar>
  </ion-header>
    <ion-content>
     
      <ion-list no-lines>
        <button menuClose ion-item *ngFor="let p of pages" [class.activeHighlight]="checkActive(p)" (click)="openPage(p)">
          <ion-icon ios="ios-home" md={{p.logo}}></ion-icon> {{p.title}}
        </button>
      </ion-list>
      
    </ion-content>

    <ion-footer no-lines>
      <ion-list class="btns">
        <ion-grid>
          <ion-item>
              <ion-row>
                  <p class="no">1800-2669-192</p>
                  <button ion-button color="danger" class="call" full (click)="call()">Call us</button>
              </ion-row>
          </ion-item>
         
            <ion-row [class.hide]="userlogin">
              <ion-col col-6>
                  <button ion-button color="danger" class="login" (click)="login()">Sign In</button>
              </ion-col>
              <ion-col col-6>
                  <button ion-button color="danger" class="signup" (click)="signup()">Sign up</button>
              </ion-col>
            </ion-row>
          
        </ion-grid>
      </ion-list>
    </ion-footer>
  </ion-menu>

  
  
  <ion-nav id="nav" #content [root]="rootPage"></ion-nav>
